.profile__button-edit {
  background-image: url(../../../images/Edit-button.svg);
  width: 1.8vw;
  height: 1.8vw;
  margin: 0;
  border: 1px solid #fff;
  grid-column: 2;
  align-self: center;
  transition: opacity 0.5s ease;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
