.profile {
  max-width: 880px;
  margin: 36.25px 15.55vw 0;
  display: grid;
  grid-template-columns: 1fr min-content;

  align-items: center;
  /* grid-column-gap: 2.7vw; */
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    margin: 0 auto;
    align-items: normal;
    grid-column-gap: 0;
    justify-items: center;
  }
}
