.elements__element {
  background-color: #fff;
  overflow: hidden;
  border-radius: 4%;
  position: relative;
  max-width: 23.5vw;
  max-width: 23.5vw;
}

@media screen and (max-width: 800px) {
  .elements__element {
    grid-template-columns: 1fr;
    margin: 0;
    max-width: 36vw;
    max-height: 45vh;
  }
}

@media screen and (max-width: 320px) {
  .elements__element {
    grid-template-columns: 1fr;
    margin: 0;
    max-width: 108vw;
    max-height: 45vh;
  }
}
