.elements__subtitle-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 1vw 1.6vw 1.2vw;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .elements__subtitle-container {
    margin: 16px 20px 26px;
  }
}
