.elements {
  max-width: 880px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3.9vw auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5vw;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .elements {
    grid-template-columns:repeat(2, 1fr) ;
    margin: 1vw 0;
    grid-row-gap: 3vw;
    grid-column-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
    margin: 36px 18px;
    grid-row-gap: 5vw;
    grid-column-gap: 0;
  }
}
