.footer {
  max-width: 880px;
  margin: 1.35vw auto 0;
  padding-bottom: 4.4vw;
  width: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0.625rem 1.1875rem 0;
    padding-bottom: 28px;
  }
}
