.elements__like-container {
  background-image: url(../../../images/Like.svg);
  background-color: #fff;
  width: 22px;
  height: 19px;
  transition: opacity 0.5s ease;
  border: 0;
}

.elements__like-container:hover {
  opacity: 0.5;
}

.elements__like-container:active {
  background-image: url(../../../images/liked.svg);
}
